{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="container-fluid mt-4"
        class="d-flex flex-row"
        {{  stimulus_controller('reload-content', {
                url: path('product_admin_index', {ajax: 1})
            })
        }}
        data-action="modal-form:success->reload-content#reloadContent"
>
    <div>
        
        <h1 class="me-3">Product index</h1>
        <div {{ stimulus_controller('modal-form', {
            formUrl: path('product_admin_new'),
        }) }} >
            <button 
                class="btn btn-primary btn-sm"
                data-action="modal-form#openModal"
            >Add+</button>
            <div data-reload-content-target="reload-content">
            {{ include('_modal.html.twig', {
                modalTitle: 'Add a new product',
            })}}
            </div>

        </div>
    </div>
    <div data-reload-content-target="reloadContent">
        {{ include('product_admin/_table.html.twig') }}
    </div>

    <a href="{{ path('product_admin_new') }}">Create new</a>
</div>
{% endblock %}
